$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;
$g_ : rgb(246, 246, 246);
$white: white;

.body{
    .plant_content_list{
      position: relative;
      top: 25px;
      left: 40px;   

      .plant_list_litem{
        border: 1px solid white;
        width: 350px;
        height: 250px;
        margin: 30px 40px 40px 40px;
        background-color: white;
        display: inline-block;
        border-radius: 10%;
        h3{
          color: orange;
          font-style: italic;
          margin-left: 20px;
        }
        img{
          width: 120px;
          height: 120px;
          float: left;
          margin: 20px;
          
        }
        button{
          float: right;
          margin: 6px;
          position: relative;
          top: -10px;
          left: -10px;
        }
      }
     
    }
    .plant_purchase_content{
      width: 240px;
      height: 180px;
      position: relative;
      left: 1000px;
      font-style: normal;
      font-weight: bold;
      margin-top: 10px;
      .plant__purchase_prime{
        color: GREENYELLOW;
        font-style: italic;
        font-size: 15px;
        display: inline;
        span{
          color: black;
          font-style: initial;
          margin: 10px;
          float: right;
        }
      }
      .plant__purchase_plant{
        font-size: 15px;
        display: inline-block;
        margin: 5px;
        span{
          float: right;
          margin-left: 190px;
        }
      }
      .plant__purchase_total{
        font-size: 20px;
        display: flow-root;
        margin: px;
        border-top: 1px solid;
        padding-top: 10px;
        margin: 0;
        span{
          margin: 10px;
          float: right;
          color: blue;
        }
      }
      .plant__purchase_btn{
        .purchase_btn{
          background-color: GREENYELLOW;
          border: none;
          width: 90px;
          height: 40px;
          font-style: normal;
          font-weight: bold;
          position: relative;
          left: 140px;
          margin: 10px;
          font-size: 15px;
          border-radius: 10%;
          outline: white;
        }
      }
     }    
  }
